@model Search_Engine.Models.searchquery

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Urls</title>
</head>
<body>
    <div>
        <h1>@Model.query</h1>
    </div>
</body>
</html>
