 body {
        width: 100%;
        background-image: url(home.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        font: 400 15px Lato, sans-serif;
        line-height: 1.8;
        color: #818181;
    }

    #image {
        margin-left: 620px;
        margin-bottom: 50px;
        margin-top: 20px;
    }

    .input-group {
        padding-left: 380px;
        padding-right: 400px;
    }

    .custom-control {
        margin-left: 510px;
        padding: 20px;
        color: wheat;
    }

    .custom-control-label {
        margin-right: 12px;
    }
